.Button_Cad{
    gap: 20px;
    border-bottom: solid 1px;
    border-color: #0a5483;
    flex-direction: row;
  }
  
  .Button_Cad button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(to top, #0056b3, #0a5483);
    margin: 15px;
    border-color: transparent;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  
    }
  
    .Button_Cad button:hover{
      opacity: 0.8;
      background-color: #000000;
    }
  
  