/* Perfil User */
.perfil-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 30px auto;
}

.perfil-header {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.perfil-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  height: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.perfil-info {
  margin-left: 20px;
  flex: 1;
  font-size: 1.2em;
  color: #555;
}

.perfil-info p {
  margin: 5px 0;
}

.perfil-info .perfil-id,
.perfil-info .perfil-nome,
.perfil-info .perfil-email {
  font-weight: bold;
  color: #333;
}

/* Imagem de Perfil - Redonda e Menor */
.perfil-summary img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  margin-right: 20px;
}

/* Corpo do Perfil */
.perfil-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.perfil-footer {
  margin-top: 20px;
  text-align: center;
}

.perfil-titulo-rs {
  margin-left: -30%;
}

.perfil-summary {
  text-align: center;
}

.perfil-summary img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ddd;
}

.perfil-nome-rs,
.perfil-id-rs,
.perfil-email-rs {
  margin: 5px 0;
  font-size: 1.2em;
  color: #444;
}

.Perfil-Empresa {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  margin-left: -30px;
}

.Perfil-Dados {
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
  margin-left: 20px;
}

.LogoEmpresa-Img-DBAdmin {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  margin-top: 420px;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
}

/* Estilo do Botão */
.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* Personalizando Footer */
.perfil-footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .perfil-body {
    flex-direction: column;
    align-items: center;
  }

  .perfil-info {
    margin-left: 0;
    text-align: center;
  }

  .perfil-summary img {
    width: 100px;
    height: 100px;
  }

  .Perfil-Dados {
    margin-left: 0;
    text-align: center;
  }

  .Perfil-Empresa {
    font-size: 1.2em;
  }
}
