/* Perfil User */

.Titulo-PerfAdmin {
  font-size: 30px;
  text-align: center;
  color: #000000cf;
  margin-bottom: 15px;
}

.Body-PerfAdmin {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: 10%;
}

.Body-PerfAdmin p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
  font-weight: bold;
}
