/* Perfil User */
.Body-PerfUser {
  background-color: #f2f2f2;
  width: 65%;
  justify-content: center;
  margin-left: 18%;
  height: 271px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.164);
}

.Footer-PerfUser {
  margin-top: 20px;
  text-align: center;
}

.Summary-PerfUser img {
  border: 1px solid #000000;
  margin-right: 73%;
}

.DadosPerfil-PerfUser {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -230px;
  font-size: 22px;
  margin-left: 300px;
  text-align: left;
  width: 380px;
}

.DadosPerfil-PerfUser h2 {
  margin-bottom: 15px;
  color: #000000da;
}

.DadosPerfil-PerfUser p {
  margin-bottom: 2px;
  font-weight: 400;
}

.Titulo-PerfUser {
  font-size: 30px;
  text-align: center;
  color: #000000cf;
}

/* CSS ATUAL ----- */

/* perfil.css */
/* Razão Social */
.perfil-body-rs {
  background-color: #f2f2f2;
  width: 75%;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
  height: 271px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.164);
}

.perfil-letras-rs {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: -230px;
  font-size: 22px;
  margin-left: 290px;
  width: 380px;
}

.perfil-id-rs,
.perfil-nome-rs,
.perfil-email-rs,
.perfil-empresa-rs {
  font-weight: 200px;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: left;
}

.perfil-summary-rs img {
  border: 1px solid #000000;
  margin-right: 73%;
}

.perfil-footer-rs {
  margin-top: 20px;
  text-align: center;
}

.perfil-titulo-rs {
  margin-left: -30%;
}
/* Admin */
/* SuperAdmin */
.perfil-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to right, #0666995a, #aedd2b4d); */
}

.perfil-header {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.perfil-body {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.perfil-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-summary img {
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #ddd;
}

.perfil-info {
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
}

.perfil-info p {
  margin: 5px 0;
}

.perfil-info .perfil-id,
.perfil-info .perfil-nome,
.perfil-info .perfil-email {
  font-weight: bold;
  color: #333;
}

.perfil-footer {
  margin-top: 20px;
  text-align: center;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
