@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.BodyDiv {
    background-color: aliceblue;
    background: linear-gradient(to bottom, #fff, #c9d6ff);
  display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/FundoVenturoOk.png);
    background-size: cover;
    background-position: center;
  

}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 200%;
    transition: transform 0.6s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-in, .sign-up {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;

}

.sign-in {
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up {
    left: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container.active .form-container {
    transform: translateX(-50%);
}

.container.active .sign-in {
    opacity: 0;
}

.container.active .sign-up {

    transform: translateX(-100%);
}


.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 52%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;

}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #512da5;
    height: 100%;
    background: linear-gradient(to right, #066699, #AEDD2B);
    position: absolute;
    left: -100%;
    width: 200%;
    transition: transform 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transition: transform 0.6s ease-in-out;
}

.toggle-left {
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container.active .toggle-left {
    transform: translateX(0%);
}

.toggle-right {
    right: 0;
    transform: translateX(0%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container.active .toggle-right {
    transform: translateX(0);
}

.buttonSignIn {
    height: 40px;
    width: 160px;
    text-align: center;
    background-color: #02416D;
    color: #fff; 
       border-radius: 5px;
       cursor: pointer;
       margin: 10px;
       text-transform: uppercase;
}

.container input[type="text"],
.container input[type="password"]{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    border-color: #c9d6ff;
    border: transparent;
    background-color: #e2e2e2;
   padding-left: 20px;
}


.container h1{
color: #02416D;
font-size: 35px;

}

.titleLogin {
    font-size: 30px;
    margin-bottom: 30px;
}

.hidden {
    height: 40px;
    width: 150px;
    text-align: center;
    background-color: #fff;
    color: #fff; 
       border-radius: 5px;
       cursor: pointer;
       margin: 10px;
       text-transform: uppercase;
       border: transparent;
       color: #000;
       font-weight: bold;
}

.container p{
    font-size: 20px;
    margin: 20px;
}
