/* Razão */

.scroll-razao {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 91vh;
}

/* Para navegadores baseados em WebKit (Chrome, Safari) */
.scroll-razao::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.scroll-razao::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra de rolagem */
}

.scroll-razao::-webkit-scrollbar-thumb {
  background: #888; /* Cor da parte deslizante da barra */
  border-radius: 10px; /* Arredondar os cantos */
}

.scroll-razao::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor ao passar o mouse */
}
