
.main-containerError {
    height: 100vh;
    width: 100%;
        padding: 20px 20px;
      background: linear-gradient(to bottom, #fff, #aabcff);
      display: flex;
      justify-content: center;
      align-items: center;
    }

.divError h1 {
color: black;
font-size: 130px;
justify-content: flex-start;
display: flex;

text-align: center;
align-items: center;
display: flex;
text-align: center;
justify-content: center;
height: 280px;
width: 280px;
margin-right: 100px;
}

.ContainerError{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

}

.spanText{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.spanText span{
    font-size: 20px;
    color: red;
}

.spanText p{
    font-size: 50px;
    font-weight: bold;
    height: 150px;
    width: 150px;
  
}

.divError {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ImgChatBot {
    width: 360px;
    height: 360px;
    margin-left: 20px;
}

.DivImagemBot{
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.DivImagemBot h3{
    margin-top: 20px;

}