/* Sidebar  */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.aside{
  background-color: red;
}

.menu {
    color: #fff;
    width: 50%;
  }
  
.titulo-box {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-bar {
    height: 89vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
  }

  .sider{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    overflow: auto; 

  }

  .toggle-theme-btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  
  .toggle {
    margin-left: 100px;
  }