/* Despesas */

.main-container {
  height: 100dvh;
  width: 100%;
  padding: 20px 20px;
  background-color: #ffffff;
  }
  
.main-title {
  display: flex;
  justify-content: space-between;
  color: #000000;
  }
  
.Button_Cad{
  gap: 20px;
  border-bottom: solid 1px;
  border-color: #0a5483;
  flex-direction: row;
  }
    
.Button_Cad button{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(to top, #0056b3, #0a5483);
  margin: 15px;
  border-color: transparent;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  }
    
.Button_Cad button:hover{
  opacity: 0.8;
  background-color: #000000;
  }
      
  .box_desp {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

.despesa1-box {
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px;
    text-align: center;
    color: #000;
  }
  
.despesa1-box:hover {
    opacity: 0.8;
    background-color: #0000001c;
  }
  
.despesa-letras{
    color: #000;
  }
  
.despesa2-box {
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px;
    text-align: center;
  }
  
.despesa2-box:hover {
    opacity: 0.8;
    background-color: #0000001a;
  }
  
  
.despesa1-box,
.despesa2-box {
    flex: 1;
    margin: 0 10px;
  }
  
.gráficos{  
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
.gráfico1,
.gráfico02 {
    flex: 1;
    margin-right: 20px;
  }
  
.gráfico1 {
    width: 50%;
  }

.gráfico02 {
    width: 50%;
  }
  
.pie1 {
    margin-left: 200px;
  }
  
.legenda_despesas1{
    margin-left: 255px;
    margin-top: 20px;
  }

.legenda_despesas2{
    margin-left: 195px;
    margin-top: 20px;
  }
  
.Despesas_List {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 13px;
    margin-top: 60px;
  }
  
table {
    border-collapse: collapse;
    width: 100%;
  }
  
th {
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 0;
    padding: 8px;
  }
  
th:hover {
    background-color: #e2e2e2;
  }
  
caption {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
table {
    margin: 0 auto;
    border-spacing: 0;
    width: 100%;
  }
  
.despesas_opc_btn {
    border: none;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    margin-left: 30px;
  }
  
.despesas_opc_btn.sim{
    background-color: rgba(255, 0, 0, 0.427);
  }
  
.despesas_opc_btn.nao{
  background-color: #22963d83;
  }
  
.DivModal {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    top: 20%;
    padding-top: 5%;
    padding-left: 7%;
  }
  
.DivModal input[type="text"],
.DivModal input[type="number"],
.DivModal input[type="date"],
.DivModal input[type="CNPJ"],
.DivModal input[type="email"]
  {
    margin: 10px;
    width: 350px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: #fff;
    padding-left: 30px;
  }
  
.DivModal h1{
    color: #0a5483;
    margin-bottom: 20px;
  }
  
.RegisterPr {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(to top, #22963d, #28a745);
    margin: 15px;
    border-color: transparent;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
.RegisterPr:hover {
    opacity: 0.8;
    background-color: #000000;
  }
  
.FecharPr {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(to top, #dc3545, #ff0e26);
    margin: 15px;
    border-color: transparent;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
.FecharPr:hover{
    opacity: 0.8;
    background-color: #000000;
  }
  