/* Side Bar */

.SideBar-Sider {
  color: white;
  width: 250px;
}

.DivLogo-Sider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.SideBar-Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  height: 10vh;
}

.SideBar-Logo-Icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: rgba(28, 17, 41, 0.88);
}

.SideBar-Menu-Bar {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}

.SideBar-ToggleTheme {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
