.divEstatistcPgFunc {
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 100px;
}

.divEstatistcPgFunc button {
  background-color: #fff;
  border-radius: 10px;
  height: 150px;
  width: 520px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border: transparent;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.divEstatistcPgFunc button:hover {
  opacity: 0.8;
  background-color: #0000001a;
}

.icon-PagFunc {
  width: 30px;
  height: 30px;
}

.Input-Modal{
  margin: 10px;
  width: 350px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: #fff;
  padding-left: 30px;
  
}

.Btn-Abrir{
  background-color: rgb(10, 84, 131);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 110px;
  height: 38px;
}

.Btn-Abrir:hover {
  background-color: rgba(10, 85, 131, 0.51);
}

.Informacoes-Pagamentos{
  font-size: 22px;
  margin-top: -10px;
  text-align: left;
  margin-left: -18px;
}

.FecharPr-Pagamentos {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(to top, #dc3545, #ff0e26);
  border-color: transparent;
  color: #fff;
  text-align: center;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
margin-top: 50px;}

.FecharPr-Pagamentos:hover {
  opacity: 0.8;
  background-color: #000000;
}