/* Cadastro Empresas */

.Container-CadEmp {
  background: linear-gradient(to bottom, #fff, #a7bbff);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BoxForms-CadEmp {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 20px;
  width: 80%;
  max-width: 900px;
  height: 670px;
}

.GeralDiv-CadEmp {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 40px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
}

.GeralDiv-CadEmp legend {
  background-color: #fff;
  width: 70px;
  text-align: center;
  margin-top: -20px;
  font-weight: 600px;
}

.Campo-Inscriçao {
  margin-top: 10px;
}

.Campo-Inscriçao label {
  margin-left: -30px;
}

.Campo-Inscriçao input {
  margin-left: 10px;
  width: 200px;
  height: 25px;
  padding: 5px;
  border-radius: 2px;
}

.EndereçoDiv-CadEmp {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 40px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  margin-top: 20px;
}

.EndereçoDiv-CadEmp legend {
  background-color: #fff;
  width: 90px;
  text-align: center;
  margin-top: -20px;
  font-weight: 600px;
}

.Campo-Municipio {
  margin-top: 10px;
}

.Campo-Municipio label {
  margin-left: -30px;
}

.Campo-Municipio input {
  margin-left: 10px;
  width: 150px;
  height: 25px;
  padding: 5px;
  border-radius: 2px;
}
