/* Balancete */

.main-container {
    height: 100dvh;
    width: 100%;
    padding: 20px 20px;
    background-color: #ffffff;
    }
    
.main-title {
    display: flex;
    justify-content: space-between;
    color: #000000;
    }
    
.search-bar-container{
    padding-top: 5vh;
    width: 50%;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left: -5px;
    min-width: 200px;
    }
  
.input-wrapper{
   background-color: white;
   width: 100%;
   border-radius: 10px;
   height: 2.5rem;
   padding: 0 15px;
   box-shadow: 0px 0px 8px #ddd;
   display: flex;
   align-items: center;
   }

#search-icon{
   color: #02416D;
   }
  
.input-balancete{
   background-color: transparent;
   border: none;
   height:100%;
   font-size: 1.25rem;
   width: 100%;
   margin-left: 5px;
   }
  
.input-balancete:focus{
   outline: none;
   }
  
.results-list{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
   }
  
.search-result{
    padding: 10px 20px;
   }
  
.search-result:hover{
    background-color: #efefef;
    }
  
.Balancete_List {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 13px;
    margin-top: 60px;
    }
  