/* Dashboard Admin */
.main-container {
    height: 100dvh;
    width: 100%;
    padding: 20px 20px;
    background-color: #ffffff;
}

.intro {
    justify-content: center;
    align-items: center;
}

.main-title {
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.main-titulo {
    color: #000000;
    margin-left: 300px;
    font-size: 60px;
    font-weight: 300;
    margin-top: 10px;
}

.texto-secundario1,
.texto-secundario2,
.texto-secundario3 {
    color: #000000;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.texto-secundario1 {
    margin-left: 310px;
}

.texto-secundario2 {
    margin-left: 270px;
}

.texto-secundario3 {
    margin-left: 230px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

.item-box {
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.nome-da-empresa-dashboard {
    color: white;
}

.status{
    margin-top: -18px;
}

.logo-cards {
    margin-top: -20px;
    margin-left: 210px;
    height: 40px;
    width: 55px;
  }

.item-detail {
    position: fixed;
    top: 30%;
    left: 36%;
    transform: translateX(-50%);
    background: rgb(249, 247, 247);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    width: 45%;
    height: 48%;
    text-align: center;
    color: #ffffff00;
    display: flex;
    flex-direction: column;
}

.item-detail .conteudo {
    position: relative;
    margin-top: -230px;
}

.div-fecharbtn {
    margin-left: 570px;
}

.close_btn {
    background-color: #f8f8f800;
    border: 0px;
}

.icone {
    height: 40px;
    width: 40px;
}

.div-statusbtn {
    color: #ffffff00;
}

.logo-e-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
}

.img-empresa {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    margin-top: -40px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
}

.conteudo {
    width: 300px;
    margin-left: 230px;
    margin-right: auto;
    margin-top: -230px;
}

.conteudo.has-logo {
    text-align: left;
    margin-top: -210px;
}

.conteudo.no-logo {
    text-align: left;
    margin-top: -150px;
    margin-left: 10px;
}

.letras-titulo {
    color: #000000;
    font-size: 29px;
    text-align: left;
    margin-bottom: 0px;
}

.letras-status,
.letras {
    color: #000000;
    text-align: left;
    font-size: 20px;
}

.letras-more-info1,
.letras-more-info2,
.letras-more-info3,
.letras-more-info4 {
    text-align: left;
    color: #000;
    font-size: 20px;
}

.dados {
    margin-top: 0px;
}

.dados-titulo {
    color: #000;
    text-align: left;
    font-size: 23px;
}

.div-dashboard-desa {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    bottom: 10px;
    left: 12px;
    width: 96%;
    height: 14%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(0, 0, 0);
}

.btn-status {
    margin-top: -20px;
    margin-left: 0px;
}

.status-button-desautorizar,
.status-button-autorizar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
}

.status-button-desautorizar {
    background-color: #f44336;
    margin-top: 16px;
    margin-left: -520px;
}

.status-button-desautorizar:hover {
    background-color: rgba(255, 0, 0, 0.427);
}

.status-button-autorizar {
    background-color: #4CAF50;
    margin-top: 16px;
    margin-left: -520px;
}

.status-button-autorizar:hover {
    background-color: #22963d83;
}

.btn-ver-mais-div {
    left: 90%;
    margin-left: 500px;
}

.btn-ver-mais-dashboard {
    background-color: #000;
    border: none;
    padding: 10px 30px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    margin-top: -2px;
}
